body{
    background-image: url(US-en-20230206-popsignuptwoweeks-perspective_alpha_website_large.jpg.png);
    background-repeat: no-repeat;
    background-color: black;
    background-size: 100%;
    
    font-family: 'Roboto';
}

.div-prin{
    display: flex;
    flex-direction: column;
    
    margin: 30px 0px 0px 730px;
    width: 450px;
    height: 660px;
    
    background: rgba(0, 0, 0, 0.75);
    border-radius: 3px;
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.netflix{
    margin: 23px 0px 0px 57px;
}

.login{
   
width: 99px;
height: 38px;
left: 0.41px;
top: -1px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 38px;
display: flex;
align-items: center;
margin: 50px 0px 8px 70px;
color: #FFFFFF;
}



.butao{
    margin: 40px 300px 0px 72px;
    border: none;
    padding: 17px 175px 15px 135px;
    background-color: #E50914;
    color: #FFFFFF;
    border-radius: 3px;
    box-shadow: 20px;
    display: flex;
    text-decoration: none;
   
}



.texto_descricao{
   
width: 282.01px;
height: 30px;


font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
display: flex;
align-items: center;
margin: 0px 0px 100px 0px;
color: #8C8C8C;
}

.email{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
isolation: isolate;
    background-color: #333333;
    color: #8C8C8C;

width: 314px;
height: 50px;
left: 0px;
top: 0px;
border: 0px;
border-radius: 4px;
margin: 15px 0px 0px 70px;
}

.email::placeholder{
    padding-left: 20px;
}

.senha{
    
    width: 314px;
height: 50px;
background-color: #333333;
border-radius: 4px;
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;
border: 0px;
margin: 15px 0px 0px 70px;
}

.senha::placeholder{
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.lembrar{
    margin: 10px 0px 0px 73px;

text-decoration: none;
order: 0;
flex-grow: 0;
color: #B3B3B3;
}


.lembrar-text{
    color: #B3B3B3;
   
    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
    font-size: 15px;
}

.link-ajuda{
 
  text-decoration: none;


font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;

margin: 0px 0px 0px 150px;

align-items: center;

color: #B3B3B3;
}

.b{
     margin: -18px;
     padding-left: 147px;
     margin-bottom: 45px;
    
}

.link-assine{
    text-decoration: none;
    color: #FFFFFF;
}

.novo{

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    
    margin: 40px 0px 20px 70px;
    
    color: #737373;
    
    }

.texto_descricao{
    margin: 0px 0px -15px 70px;
 padding: -50px;
}

.saiba{
    text-decoration: none;
    color: #0071EB;
    margin: 0px 0px 0px 290px;
    font-size: 15px;
}

